/* page styles */

.header-material {
  background: url('/images/background.png') center / cover;
}

h1 {
    color: #0000ac;
}

.big-header {
    height: 250px;
}

.portfolio-content {
  max-width: 900px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.inline-title {
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* grid and card styles */
.welcome-grid {
    width: 100%;
}

.mdl-card {
  margin: 10px 0 0 0;
}

.card-header {
  height: 80px;
  color: #fff;
}

/* custom cards styles*/

.welcome-title {
  display: block;
  margin: 0 10px 0 0;
  font-size: 18px;
}

.biopic {
    display: block;
    border-radius: 50%;
    margin: 0 35px 0 0;
    width: 100px;
}


/* contact information */

.contact-information .card-header{
  background-color: #3F51B5; /* Indigo*/
}

.contact-information ul li {
  border-bottom: 1px solid #9FA8DA ;
}
/* skills styles */

.skills .card-header {
  background-color: #2196F3; /* Blue */
}

.skills ul li {
  border-bottom: 1px solid #90CAF9 ;
}

/* work experience styles */

.work-experience .card-header {
  background-color: #673AB7; /* Deep Purple */
}

.work-experience ul li {
  border-bottom: 1px solid #B39DDB;
  padding: 10px 0 10px 0;
}

.work-experience ul li span{
  font-weight: bold;
  text-transform: capitalize;
}

.work-experience ul li div:nth-child(1){
  float:right;
  color: #cccccc;
  font-style: italic;
}

.work-experience ul li div:nth-child(2){
  font-weight: bold;
  text-transform: capitalize;
}

/* education */

.education .card-header {
  background-color: #43A047; /* Green 600 */
}

.education ul li span{
  font-weight: bold;
  text-transform: capitalize;
}

.education ul li {
  border-bottom: 1px solid #2E7D32;
  padding: 10px 0 10px 0;
}

/* projects */

.projects .card-header {
  background-color: #FF5722; /* Green 600 */
}

.projects ul li span{
  font-weight: bold;
  text-transform: capitalize;
}

.projects ul li {
  padding: 10px 0 10px 0;
}

.projects ul li img {
  width: 100%;
}

.projects ul li div:nth-child(1){
  float:right;
  color: #cccccc;
  font-style: italic;
}

.projects ul li div:nth-child(2){
  font-weight: bold;;
  border-bottom: 1px solid #FF5722;
}

