<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ismapro.co portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <title>ismapro.co</title>
    <!-- external libs -->
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/materialIndex.css">


    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="portfolio">
    <div class="mdl-layout mdl-js-layout has-drawer is-upgraded mdl-layout--fixed-header">
        <header class="mdl-layout__header header-material">
            <div class="mdl-layout-icon"></div>
            <div class="mdl-layout__header-row">
              <span class="mdl-layout-title"></span>
              <div class="mdl-layout-spacer"></div>
            </div>
        </header>    
        <main class="portfolio-content mdl-layout__content">

            <div class="mdl-grid welcome-grid" ng-controller="basicInformation as information">
                
                <!-- welcome card-->
                <div class="mdl-card mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
                  <div class="mdl-card__title">
                     <img src="/images/avatar.jpg" alt="avatar" class="biopic">
                     <h2>
                      <span class="welcome-title">{{information.bio.name}}</span>
                      <span class="welcome-title">{{information.bio.role}}</span>
                     </h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                  {{information.bio.welcomeDescription}}
                  </div>
                </div>

                <!-- basic information card-->
                <div class="mdl-card mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
                  <div class="mdl-card__title">
                     <h2 class="mdl-card__title-text">Contact Information</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <ul>
                        <li><span class="inline-title">email</span>{{information.bio.contacts.email}}</li>
                        <li><span class="inline-title">github</span>{{information.bio.contacts.github}}</li>
                        <li><span class="inline-title">twitter</span>{{information.bio.contacts.twitter}}</li>
                        <li><span class="inline-title">blog</span>{{information.bio.contacts.blog}}</li>
                    </ul>    
                  </div>
                </div>
                
                <!-- skills card -->
                <div class="mdl-card mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
                  <div class="mdl-card__title">
                     <h2 class="mdl-card__title-text">Skills</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <ul>
                        <li ng-repeat="skill in information.bio.skills"><span class="inline-title">{{skill}}</span></li>
                    </ul>    
                  </div>
                </div>

                <!-- work experience grid -->
                <div class="mdl-card mdl-cell--12-col mdl-shadow--4dp">
                  <div class="mdl-card__title">
                     <h2 class="mdl-card__title-text">Work Experience</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <ul>
                      <li ng-repeat="work in information.work" class="work-border">
                          <div>employeer {{work.employeer}}</div>
                          <div>title {{work.title}}</div>
                          <div>location {{work.location}}</div>
                          <div>dates {{work.dates}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </main>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo">Built over Material Design Lite by Google</div>
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
        </footer>
    </div>
</body>
</html>